body{
    width: fit-content;
    margin: 0px;
    padding: 0px;
    padding-bottom: 8px;
    background-color: rgb(149, 253, 253);
}
h1{
    text-align: center;
    font-size: 3.8rem;
    color: rgb(1, 6, 109);
    margin-bottom: 0px;
    margin-top: 140px;
}
h3{
    text-align: center;
    font-size: 1.6rem;
    padding: 0px;
    margin: 0px;
}
.main{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 10px;
    height: 400px;
    width: 600px;
    text-align: center;
    align-items: center;
    align-content: center;
    align-self: center;
    gap: 35px;
    justify-content: center;
    flex-direction: row;  
    margin: 0 auto; 
    margin-top: 40px;
}
.gpa, .cgpa, .contact, .grading{
    color: aliceblue;
    width: 370px;
    text-align: left;
    align-self: center;
    height: 180px;
    border-radius: 15px;
    gap: 50px;
    background: linear-gradient(#b4bbff, #4684ff);
    margin-bottom: 20px;
    align-content: center;
    align-items: center;
    justify-content: center;
    box-shadow:0 8px 8px rgba(0,0,0,0.08),
        0 8px 8px rgba(0,0,0,0.08),
        0 4px 4px rgba(112, 109, 109, 0.08),
        0 8px 8px rgba(113, 111, 111, 0.08),
        0 16px 16px rgba(116, 113, 113, 0.08),
        0 32px 32px rgba(119, 114, 114, 0.08);
}
.text{
    color: rgb(47, 47, 47);
    padding-top: 0px;
    padding-left: 20px;
    margin-top: 0px;
}
h4{
    padding: 0px;
    margin: 0px;
    padding-left: 23px;
    padding-bottom: 8px;
    border: 0px;
    color: rgb(57, 57, 57);
    font-size: 2rem;
    text-decoration: none;
}

h2{
    margin-bottom: 2px;
    font-size: 1.8rem;
}
h5{
    font-size: 1rem;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    padding-left: 20px;
    color: rgb(224, 224, 224);
}
.logo{
    width: 150px;
    height: 165px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    top: 0%; 
    left: 590px;    
}
.logo1{
    height: 30px;
}
footer{
    text-align: center;
    margin-top: 90px;
}
.link{
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}
.gpa:hover, .cgpa:hover, .grading:hover, .contact:hover {
    transform: translateY(-12px) scale(1.02);
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2),
                0 0 0 3px rgba(255, 255, 255, 0.5),
                0 0 0 6px #7cff62;
}
